#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman backend.service
Requires=erp-next.service
After=erp-next.service db.service redis-queue.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/backend.pid %t/backend.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/backend.pid \
    --cidfile %t/backend.ctr-id --cgroups=no-conmon \
    --pod erp-next --replace -d --name backend \
    -v sites:/home/frappe/frappe-bench/sites \
    -v logs:/home/frappe/frappe-bench/logs \
    ${ERPNEXT_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/backend.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP backend
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/backend.ctr-id
PIDFile=%t/backend.pid
Type=forking

[Install]
WantedBy=default.target
