# queue-long.service

[Unit]
Description=Podman erp-next-queue-long.service
Requires=erp-next.service
After=erp-next.service erp-next-backend.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/queue-long.pid %t/queue-long.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/queue-long.pid \
    --cidfile %t/queue-long.ctr-id --cgroups=no-conmon \
    --pod erp-next --replace -d --name queue-long \
    -v sites:/home/frappe/frappe-bench/sites \
    -v logs:/home/frappe/frappe-bench/logs \
    ${ERPNEXT_IMAGE} \
    bench worker --queue long,default,short
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/queue-long.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP queue-long
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/queue-long.ctr-id
PIDFile=%t/queue-long.pid
Type=forking

[Install]
WantedBy=default.target
